
<div style="text-align: center; margin-top: 25px;">
  <h3>Subscribe to Get Full Access of All the Joy...</h3>
</div>

<div class="row" style="margin-top: 25px; ">
<div class="col col-sm-4" style="margin-left: 200px; border: 2px solid black; text-align: center;">
<div class="sku-chooser__panel left" data-bi-id="c1c1c1c2m1r13a3" data-bi-name="c1c1c1c2m1r13a3"><!--strong class="c-badge f-small f-highlight c-caption-1">BEST VALUE</strong-->

  <div class="intro">
    <h3 class="c-paragraph-1 f-lean" style="text-align: center;"><span >ULTIMATE</span></h3>
  </div>

  <div class="details">
                  <div class="price">
                      <p class="c-paragraph-1 f-lean">Get your first month for Rs. 50, then <span class="price-number">Rs.&nbsp;499/month</span></p>
                  </div>
                  <a href="JavaScript:void(0);" data-cta="internal" class="c-call-to-action c-glyph xbstorebuy xbstoreDynAdd storeDynAdded" aria-label="Join now, Xbox game pass ultimate" data-bi-source="CFQ7TTC0KHS0" data-bi-prod="xbox game pass ultimate" data-bi-sku="0007" data-bi-product="CFQ7TTC0KHS0" data-bi-name="join now" data-bi-prtnm="ms store" data-bi-bhvr="PARTNERREFERRAL" data-bi-type="text" data-bi-prtid="www.microsoft.com" data-xbbigid="CFQ7TTC0KHS0" onclick="document.dispatchEvent(new CustomEvent(quotlaunchContextualStore&quot, { detail: { productId: quotCFQ7TTC0KHS0&quot }}));" data-bi-id="n1c1c1c1c2m1r13a3"> <span>JOIN NOW</span> </a>

    <p class="c-paragraph legalSub"><i>Subscription continues automatically. See <a href="https://www.xbox.com/legal/subscription-terms" class="c-hyperlink white-c" target="_blank" data-cta="learn" aria-label="terms, Xbox Game Pass Ultimate Terms" data-bi-name="terms." data-bi-id="n2c1c1c1c2m1r13a3">terms.</a></i></p>


    <ul style="list-style: none;">
      <li class="c-paragraph-1" data-bi-id="c1c1c1c1c2m1r13a3" data-bi-name="c1c1c1c1c2m1r13a3">Play hundreds of high-quality games on console and PC</li>

      <li class="c-paragraph-1" data-bi-id="c2c1c1c1c2m1r13a3" data-bi-name="c2c1c1c1c2m1r13a3">New games added all the time </li>

      <li class="c-paragraph-1" data-bi-id="c3c1c1c1c2m1r13a3" data-bi-name="c3c1c1c1c2m1r13a3">GameOn Studios titles the same day as release</li>

      <li class="c-paragraph-1" data-bi-id="c4c1c1c1c2m1r13a3" data-bi-name="c4c1c1c1c2m1r13a3">Exclusive member discounts and deals</li>

      <li class="c-paragraph-1" data-bi-id="c5c1c1c1c2m1r13a3" data-bi-name="c5c1c1c1c2m1r13a3">Free Perks including in-game content and partner offers</li>

        <li class="c-paragraph-1" data-bi-id="c6c1c1c1c2m1r13a3" data-bi-name="c6c1c1c1c2m1r13a3">Unlock Riot Games benefits</li>

      </ul>
  </div>
</div>
</div>


<div class="col col-sm-4" style="margin-left: 50px; border: 2px solid black; text-align: center;">
<div class="sku-chooser__panel middle" data-bi-id="c1c2c1c2m1r13a3" data-bi-name="c1c2c1c2m1r13a3">
  <div class="intro">
    <h3 class="c-paragraph-1 f-lean" style="text-align: center;"><span>PC</span></h3>
  </div>

  <div class="details">
                  <div class="price">
                      <p class="c-paragraph-1 f-lean" style="text-align: center;">Get your first month for Rs. 50, then <span class="price-number">Rs.&nbsp;349/month</span></p>

      <!--<p class="c-paragraph-5 f-lean introductory"><strong></strong></p>-->
                  </div>
                  <a href="JavaScript:void(0);" data-cta="internal" class="c-call-to-action c-glyph xbstorebuy xbstoreDynAdd storeDynAdded" aria-label="Join now, Xbox game pass for PC" data-bi-source="CFQ7TTC0KGQ8" data-bi-prod="xbox game pass" data-bi-sku="0002" data-bi-product="CFQ7TTC0KGQ8" data-bi-name="join now" data-bi-prtnm="ms store" data-bi-bhvr="PARTNERREFERRAL" data-bi-type="text" data-bi-prtid="www.microsoft.com" data-xbbigid="CFQ7TTC0KGQ8" onclick="document.dispatchEvent(new CustomEvent(quotlaunchContextualStore&quot, { detail: { productId: quotCFQ7TTC0KGQ8&quot }}));" data-bi-id="n1c1c2c1c2m1r13a3"> <span>JOIN NOW</span> </a>

    <p class="c-paragraph legalSub"><i>Subscription continues automatically. See <a href="https://www.xbox.com/legal/subscription-terms" class="c-hyperlink white-c" target="_blank" data-cta="learn" aria-label="terms, Xbox Game Pass for PC Terms" data-bi-name="terms." data-bi-id="n2c1c2c1c2m1r13a3">terms.</a></i></p>

    <ul style="list-style: none;">
      <li class="c-paragraph-1" data-bi-id="c1c1c2c1c2m1r13a3" data-bi-name="c1c1c2c1c2m1r13a3">Play hundreds of high-quality games on PC</li>

      <li class="c-paragraph-1" data-bi-id="c2c1c2c1c2m1r13a3" data-bi-name="c2c1c2c1c2m1r13a3">New games added all the time </li>

      <li class="c-paragraph-1" data-bi-id="c3c1c2c1c2m1r13a3" data-bi-name="c3c1c2c1c2m1r13a3">GameOn Studios titles the same day as release</li>

      <li class="c-paragraph-1" data-bi-id="c4c1c2c1c2m1r13a3" data-bi-name="c4c1c2c1c2m1r13a3">Member discounts and deals </li>

        <li class="c-paragraph-1" data-bi-id="c5c1c2c1c2m1r13a3" data-bi-name="c5c1c2c1c2m1r13a3">Unlock Riot Games benefits</li>
      </ul>
  </div>
</div>
</div>
</div>
